@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            
            <p>Online Mcq Test</p>
            <p>
            This is a trial application. It is for your personal interest and should not be used for any actual testing purposes. 
            Care has been taken to ensure that the questions and answers are correct and fully edited, but small errors of layout, display and typography may still appear in different browsers and on different systems as development continues.
       </p>
            <p>
            You should also note that syllabuses may change over time. Consequently, some questions from previous tests or examinations may not be relevant for the current year. Also, there may be content examined in the current year that has not been examined in previous years.

            If you notice an error, please contact us. Let us know as much detail as possible including the question number you are referring to.
                </p>

        </div>
    </section>
}

